body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

h1 {
    margin: 0;
}


header {
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.logo-img {
    height: 40px;
    width: 35px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
    font-weight: 500;
    align-items: center;
}

svg {
    margin-left: 3px;
    vertical-align: middle;
}

.intro {
    display: flex;
    margin-top: 90px;
    gap: 40px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 260px;
}

.intro-title {
    width: 522px;
    height: 222px;
    font-size: 35px;
    line-height: 70px;
}

.intro-description {
    width: 466px;
    color: #888;
    font-size: 18px;
    font-weight: 400;
}

.button-wrap {
    margin-top: 50px;
    gap: 72px;
    display: flex;
}

.button-1 {
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #F25822;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);

}

.button-2 {
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
}

.brand-logo {
    display: flex;
    gap: 40px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* Начало ДЗ 4 - блок с карточками */

.cards {
    display: flex;
    margin: 200px auto 100px auto;
    gap: 30px;
    width: 1170px;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: none;
    background: #FFF;
}

.card:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card-items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.cards-image {
    width: 70px;
    height: 70px;
}

.card-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 17px;
}

.card-text {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    width: 310px;
    color: #666;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
}

.button-cards {
    display: flex;
    padding: 0;
    width: 90px;
    margin-left: 0;
    margin-top: 25px;
    cursor: pointer;
    background: none;
    border: none;
    align-items: flex-start;
}

.text-button {
    font-family: 'Gilroy';
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
    font-weight: normal;
}

/* Начало 5 ДЗ */

.services {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
}

.services_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10); */
}

.services_item:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.services_title-text {
    margin-bottom: 19px;
    font-size: 45px;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 0;
}

.services_title-desc {
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    justify-self: center;
    width: 682px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 54px;
    margin-top: 19px;
}

.services_image {
    padding: 10px;
    width: 370px;
    height: 270px;
}

.services_title {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 22px; 
    margin-top: 10px;
}

.services_desc {
    width: 310px;
    height: 63px;
    color: #AAA;
    text-align: center;
    font-size: 15px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 39px;
}

.services_button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #F25822;
    color: #FFF;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    margin-bottom: 50px;
}

.services_button-text {
    font-family: 'Gilroy';
    font-size: 13px;
    font-weight: 600;
}